## Deliverable 2. Create a Customer Travel Destinations Map.

In [33]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [20]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,New Norfolk,AU,2021-01-11 00:30:41,-42.7826,147.0587,87.01,25,85,1.99,overcast clouds
1,1,Punta Arenas,CL,2021-01-11 00:30:41,-53.1500,-70.9167,48.20,66,90,12.66,overcast clouds
2,2,Port Alfred,ZA,2021-01-11 00:30:41,-33.5906,26.8910,66.00,85,83,12.19,broken clouds
3,3,Kruisfontein,ZA,2021-01-11 00:30:42,-34.0033,24.7314,64.99,80,98,1.01,overcast clouds
4,4,Balikpapan,ID,2021-01-11 00:30:42,-1.2675,116.8289,84.20,74,40,11.50,scattered clouds

In [21]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 90

In [22]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,New Norfolk,AU,2021-01-11 00:30:41,-42.7826,147.0587,87.01,25,85,1.99,overcast clouds
4,4,Balikpapan,ID,2021-01-11 00:30:42,-1.2675,116.8289,84.20,74,40,11.50,scattered clouds
8,8,Port Lincoln,AU,2021-01-11 00:30:43,-34.7333,135.8667,82.85,32,100,20.31,overcast clouds
13,13,Bluefields,NI,2021-01-11 00:30:44,12.0137,-83.7635,75.20,100,90,4.61,light intensity drizzle
16,16,Ulladulla,AU,2021-01-11 00:30:45,-35.3500,150.4667,78.80,50,0,5.75,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
687,687,Navrongo,GH,2021-01-11 00:34:03,10.8956,-1.0921,75.25,18,0,7.00,clear sky
690,690,Puerto Rico,AR,2021-01-11 00:34:05,-26.7960,-55.0240,79.45,69,4,2.28,light rain
692,692,Wawa,NG,2021-01-11 00:34:07,9.9022,4.4192,75.81,21,3,5.32,clear sky
695,695,Morant Bay,JM,2021-01-11 00:34:07,17.8815,-76.4093,82.40,69,20,11.50,few clouds
697,697,Meulaboh,ID,2021-01-11 00:34:09,4.1363,96.1285,76.48,90,99,7.00,overcast clouds

In [23]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,New Norfolk,AU,2021-01-11 00:30:41,-42.7826,147.0587,87.01,25,85,1.99,overcast clouds
4,4,Balikpapan,ID,2021-01-11 00:30:42,-1.2675,116.8289,84.20,74,40,11.50,scattered clouds
8,8,Port Lincoln,AU,2021-01-11 00:30:43,-34.7333,135.8667,82.85,32,100,20.31,overcast clouds
13,13,Bluefields,NI,2021-01-11 00:30:44,12.0137,-83.7635,75.20,100,90,4.61,light intensity drizzle
16,16,Ulladulla,AU,2021-01-11 00:30:45,-35.3500,150.4667,78.80,50,0,5.75,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
687,687,Navrongo,GH,2021-01-11 00:34:03,10.8956,-1.0921,75.25,18,0,7.00,clear sky
690,690,Puerto Rico,AR,2021-01-11 00:34:05,-26.7960,-55.0240,79.45,69,4,2.28,light rain
692,692,Wawa,NG,2021-01-11 00:34:07,9.9022,4.4192,75.81,21,3,5.32,clear sky
695,695,Morant Bay,JM,2021-01-11 00:34:07,17.8815,-76.4093,82.40,69,20,11.50,few clouds
697,697,Meulaboh,ID,2021-01-11 00:34:09,4.1363,96.1285,76.48,90,99,7.00,overcast clouds

In [25]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,New Norfolk,AU,87.01,overcast clouds,-42.7826,147.0587,
4,Balikpapan,ID,84.20,scattered clouds,-1.2675,116.8289,
8,Port Lincoln,AU,82.85,overcast clouds,-34.7333,135.8667,
13,Bluefields,NI,75.20,light intensity drizzle,12.0137,-83.7635,
16,Ulladulla,AU,78.80,clear sky,-35.3500,150.4667,
18,Hobart,AU,86.00,clear sky,-42.8794,147.3294,
20,Guaramirim,BR,78.80,overcast clouds,-26.4731,-49.0028,
23,Rikitea,PF,78.35,scattered clouds,-23.1203,-134.9692,
39,Weligama,LK,75.36,overcast clouds,5.9667,80.4167,
44,Kapaa,US,78.80,broken clouds,22.0752,-159.3190,

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [27]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,New Norfolk,AU,87.01,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
4,Balikpapan,ID,84.20,scattered clouds,-1.2675,116.8289,Grand Jatra Hotel Balikpapan
8,Port Lincoln,AU,82.85,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
13,Bluefields,NI,75.20,light intensity drizzle,12.0137,-83.7635,Flamingo Hotel and Casino
16,Ulladulla,AU,78.80,clear sky,-35.3500,150.4667,Sandpiper Motel
...,...,...,...,...,...,...,...
683,Bourail,NC,85.42,overcast clouds,-21.5667,165.4833,Motel Allamanda
687,Navrongo,GH,75.25,clear sky,10.8956,-1.0921,Azakka Hotel
690,Puerto Rico,AR,79.45,light rain,-26.7960,-55.0240,Hotel Cabañas del Prado
695,Morant Bay,JM,82.40,few clouds,17.8815,-76.4093,Whispering Bamboo Cove Resort
697,Meulaboh,ID,76.48,overcast clouds,4.1363,96.1285,Kost Pria

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [31]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))