## Deliverable 3. Create a Travel Itinerary Map.

In [42]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [43]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,New Norfolk,AU,87.01,overcast clouds,-42.7826,147.0587,The Shingles Riverside Cottages
1,4,Balikpapan,ID,84.20,scattered clouds,-1.2675,116.8289,Grand Jatra Hotel Balikpapan
2,8,Port Lincoln,AU,82.85,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
3,13,Bluefields,NI,75.20,light intensity drizzle,12.0137,-83.7635,Flamingo Hotel and Casino
4,16,Ulladulla,AU,78.80,clear sky,-35.3500,150.4667,Sandpiper Motel

In [44]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [45]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Harper']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Harper']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'San-Pedro']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Navrongo'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Lafiagi'] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
153,606,Lafiagi,NG,75.36,clear sky,8.8667,5.4167,Bus group international

In [47]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([4.375, -7.7169], dtype=object)

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(4, -8), zoom_level = 5)
Harper = start
San_Pedro = stop1
Navrongo = stop2
Lafiagi = stop3 
roadtrip = gmaps.directions_layer(Harper, Harper, 
                                  waypoints=[San_Pedro, Navrongo, 
Lafiagi],
                                  travel_mode="DRIVING")

fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,285,Harper,LR,78.58,scattered clouds,4.3750,-7.7169,Screensaver
1,288,San-Pedro,CI,77.90,moderate rain,4.7485,-6.6363,Hotel Maria
2,687,Navrongo,GH,75.25,clear sky,10.8956,-1.0921,Azakka Hotel
3,606,Lafiagi,NG,75.36,clear sky,8.8667,5.4167,Bus group international

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(marker_layer)
fig.add_layer(roadtrip)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(4.5, -8), zoom_level=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))